@charset "UTF-8";

/*	layaut
----------------------------------------------------*/

#formbox4 ul li{
	padding-top:20px;
	margin-left:350px;
}

h2#top{
	margin-top:20px;
	margin-left:350px;
}


/*	table
----------------------------------------------------*/





